/* * {
  border: 1px dashed magenta !important;
} */

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

form{
  diplay: inline-block;
}

.BackdropColor {
  background: linear-gradient(to bottom,  #f27a5e 0%,#f25050 74%,#f25050 95%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f27a5e', endColorstr='#f25050',GradientType=0 ); /* IE6-9 */
  height: 100vw;
}

.BackdropColorSuccess {
  background-color: limegreen;
  height: 100vw;
}


.postIt{
  -webkit-box-shadow: 6px 0px 19px -1px rgba(0,0,0,0.38);
  box-shadow: 6px 0px 19px -1px rgba(0,0,0,0.38);
  background-color: white;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  /* transition: transform .2s; */
}

.postIt:hover{
  /* transform: scale(1.2); */
}

.postItsml {
  width: 150px;
  margin: 10px;
  height: 175px;

}

.postItlrg {
  width: 330px;
  margin: 10px;
  height: 175px;
}


.nameInput{
  width: 100%;
  height: 40px;
  width: 100%;
  height: 110px;
  border: none;
  text-align: center;
  font-size: 50px;
  font-family: 'Permanent Marker', cursive;
  color: #010440git ;
  background-color: #F2F0CE;
}

.gridme{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#nameBox {
  transform: rotate(2deg);
  background-color: #F2F0CE;
}
#fillMurrayBox {
  transform: rotate(-1deg);
  background-image: url("https://fillmurray.com/300/175");
  text-align: center;
  padding: 29px;
}
#placeCageBox {
  transform: rotate(-2.3deg);
  background-image: url("https://placecage.com/300/175");
  text-align: center;
  padding: 85px 0px 0px;
}
#customHeaderBox {
  /* display: inline-block; */
  text-align: center;
  transform: rotate(4deg);
  padding: 20px;
  background-color: #F2F0CE;
}
#customBackgroundBox {
    padding: 31px;
    text-align: center;
    transform: rotate(-0.5deg);
    background-image: linear-gradient(41deg, #EE617D 25%, #349bdb 25%, #349bdb 50%, #EE617D 50%, #EE617D 75%, #349bdb 75%, #349bdb 100%);
}
#flipPage {
  text-align: center;
  transform: rotate(183deg);
  padding: 45px 0px;
}
#strangerThings {
  text-align: center;
  transform: rotate(-90deg);
  padding: 45px 0px;
  background-image: url("https://placeimg.com/175/175")
}
#othersideMode {
  text-align: center;
  transform: rotate(3deg);
  padding: 45px 0px;
  transform: scale(-1, 1);
}

#unicornMode {
  text-align: center;
  transform: rotate(3deg);
  padding: 45px 0px;
  background-image: url('https://cdn.dribbble.com/users/576253/screenshots/4323685/rainbow-animation-800x600.gif');
  background-size: 200%;
}
#wordSwapperBox {
  text-align: center;
  transform: rotate(-2deg);
  padding: 2px 2px;
  background-size: 200%;
  background-color: #F2F0CE;
}
#hiddenVideoBox {
  text-align: center;
  transform: rotate(1deg);
  padding: 29px 2px;
  background-size: 100%;
  background-image: url("https://hips.hearstapps.com/digitalspyuk.cdnds.net/16/34/1472221491-rick-astley.gif");
}

#marqueeBox {
  display: inline-block;
  /* text-align: center; */
  transform: rotate(0.2deg);
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Windows_Logo_1995.svg/250px-Windows_Logo_1995.svg.png");
  background-size: 20%;
  background-position: center;
}

#awwSnapBox {
  display: inline-block;
  text-align: center;
  transform: rotate(4deg);
  background-image: url("https://systweak1.vo.llnwd.net/content/wp/systweakblogsnew/uploads_new/2018/03/How-to-Fix-Aw-Snap-Error-in-Chrome1.jpg");
  background-size: 90%;
  padding: 69px;
}

#submitButtonBox {
  display: inline-block;
  text-align: center;
  transform: rotate(-2deg);
  padding: 37px;
  background-image: url("https://visualpharm.com/assets/258/Save-595b40b65ba036ed117d160b.svg");
  background-size: 51%
}


input[type=checkbox], input[type=radio] {
    height: 2em;
    width: 4em;
}

.padding10px {
  padding: 10px;
  display: inline-block;
}

#submitButton {
  height: 36px;
  width: 74px;
  margin: 7px 0px;
  border-radius: 5px;
}
#submitButton:hover {
  background-color: green;
  color: white;
  height: 36px;
  width: 74px;
  margin: 7px 0px;
  border-radius: 5px;
}

.textPopper{
  color:white;
  font-weight: bold;
  text-shadow: -1px 0px 19px rgba(0,0,0,0.62);
}

.marquee{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  color: black;
  text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

h6{
  font-size: 11px;
}
h5{
  font-size: 18px;
}

.flexMe{
  display: flex;
}

.stroker{
  color: magenta;
}
